html {
    height: 100%;
    width: 100%;
    background-color: darkslategrey;
}

main {
    text-align: center;
    font-family: Open Sans, Vazirmatn, sans-serif;
    font-style: normal;
    color: rgb(141, 187, 187);
    font-size: 2.1em;
}

#main {
    border: 5px red solid;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

#main div {
    flex-grow: 1
}

#inputBlock {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center
}

#content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

textarea {
    margin-top: 1em;
    font-size: 0.6em;
    flex-grow: 1
}